
{% extends "base.html" %}

{% block content %}
<div class="jumbotron bg-success" style="text-align: center">
    <h1 class="text-light">{{ title }}</h1>
</div>

<div class="row">
    <div class="col-md-12 justify-content-center text-center text-light">
        <h2>The Data</h2>
        <p>The data used to train our Loan Prediction algorithm is open source, available on <a href="https://www.kaggle.com/altruistdelhite04/loan-prediction-problem-dataset">Kaggle</a>.</p>
        <p>This is for educational and entertainment only. The outcome of the loan predictor may not align with the outcome of the specific lender.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 justify-content-center border-success">
        <h2 class="text-center text-light">The Data Analysts</h2>
    </div>
    <div class="col-md-3 justify-content-center">
        <div class="card text-light border-success bg-dark mb-3 text-center" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Mary Bellavia</h4>
                <h6 class="card-subtitle text-muted">Data Analyst,<br>Full-Stack Developer,<br>Scrum Master, Agile Coach</h6>
                <br>
                <p class="card-text text-center"><a class="text-success"
                        href="https://www.linkedin.com/in/mary-bellavia-28311b2a">LINKEDIN</a><br><a class="text-success"
                        href="https://github.com/marybellavia">GITHUB</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-3 justify-content-center">
        <div class="card text-light border-success bg-dark mb-3 text-center" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Garrett DeBlois</h4>
                <h6 class="card-subtitle text-muted">Quality Assurance Engineer, Data Analyst<br><br></h6>
                <br>
                <p class="card-text text-center"><a class="text-success"
                        href="https://www.linkedin.com/in/garrett-deblois/">LINKEDIN</a><br><a class="text-success"
                        href="https://github.com/GND95">GITHUB</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-3 justify-content-center">
        <div class="card text-light border-success bg-dark mb-3 text-center" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Eric Evans</h4>
                <h6 class="card-subtitle text-muted">Data Analyst<br><br><br></h6>
                <br>
                <p class="card-text text-center"><a class="text-success"
                        href="https://linkedin.com/in/eric-evans-67b4a118b">LINKEDIN</a><br><a class="text-success"
                        href="https://github.com/ese12880">GITHUB</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-3 justify-content-center">
        <div class="card text-light border-success bg-dark mb-3 text-center" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Irene Zou</h4>
                <h6 class="card-subtitle text-muted">Financial Analyst,<br>Data Analyst<br><br></h6>
                <br>
                <p class="card-text text-center"><a class="text-success"
                        href="https://www.linkedin.com/in/irene--zou/">LINKEDIN</a><br><a class="text-success"
                        href="https://github.com/Irene-zou">GITHUB</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}