<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    
    <!-- Our style sheets -->
    <link rel="stylesheet" href="../static/css/solar.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- D3 CDN -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <!-- Plotly JS -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Each team member's javascript files -->
    <script src="../static/js/bellavia_calculator.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Loan Helper</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                {% if title == 'Loan Helper' %}
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                {% endif %}

                {% if title == 'About' %}
                <li class="nav-item active">
                    <a class="nav-link" href="/about"><span class="sr-only">(current)</span>About</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                {% endif %}

                {% if title == 'Loan Prediction' %}
                <li class="nav-item active">
                    <a class="nav-link" href="/prediction"><span class="sr-only">(current)</span>Loan Predictor</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/prediction">Loan Predictor</a>
                </li>
                {% endif %}

                {% if title == 'Loan Infographics' %}
                <li class="nav-item active">
                    <a class="nav-link" href="/infographics"><span class="sr-only">(current)</span>Loan Infographics</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/infographics">Loan Infographics</a>
                </li>
                {% endif %}
                
                {% if title == 'Payment Calculator' %}
                <li class="nav-item active">
                    <a class="nav-link" href="/calculator"><span class="sr-only">(current)</span>Payment Calculator</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/calculator">Payment Calculator</a>
                </li>
                {% endif %}
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>