<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../static/css/solar.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Loan Helper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">

                {% if title == 'Loan Helper' %}
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                {% endif %}

                {% if title == 'About' %}
                <li class="nav-item active">
                    <a class="nav-link" href="/about"><span class="sr-only">(current)</span>About</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                {% endif %}

                {% if title == 'Prediction' %}
                <li class="nav-item active">
                    <a class="nav-link" href="/prediction"><span class="sr-only">(current)</span>Loan Predictor</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/prediction">Loan Predictor</a>
                </li>
                {% endif %}

                {% if title == 'Loan Infographics' %}
                <li class="nav-item active">
                    <a class="nav-link" href="/infogrpahics"><span class="sr-only">(current)</span>Loan Infographics</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/infogrpahics">Loan Infographics</a>
                </li>
                {% endif %}
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>