{% extends "base.html" %}

{% block content %}
<div class="jumbotron bg-dark" style="text-align: center">
    <h1 class="text-light">Approved or Denied?</h1>
    <h2 class="text-light">Try Our Mortgage Loan Application Predictor</h2>
    <p class="text-light"><br>Click on one of the links below to try our loan application predictor or learn more about housing costs in the US.</p>
</div>

<div class="row">
    <div class="col-md-4 d-flex justify-content-center text-center">
        <div class="card bg-success text-light mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title"><a
                    href="/about"><button type="button" class="btn btn-light btn-block">About</button></a></h4>
                <p class="card-text">Learn more about the data and the data analysts.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center text-center">
        <div class="card bg-primary text-light mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title"><a
                    href="/prediction"><button type="button" class="btn btn-light btn-block">Loan Predictor</button></a></h4>
                <p class="card-text">Use our loan prediction algorithm to learn if you might be accepted or denied for a mortgage loan.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center text-center">
        <div class="card bg-warning text-light mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title"><a
                    href="/infographics"><button type="button" class="btn btn-light btn-block">Loan Infographics</button></a></h4>
                <p class="card-text">If you would like to see more information about the data used to create the loan prediction algorithm.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}