{% extends "base.html" %}

{% block content %}
<div class="jumbotron bg-dark" style="text-align: center">
    <h1 class="text-light">House and Rental Index Data Analysis</h1>
    <p class="text-light"><br>Click on one of the links below to learn more.</p>
</div>

<div class="row">
    <div class="col-md-3 d-flex justify-content-center text-center">
        <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title"><a
                    href="/about"><button type="button" class="btn btn-secondary btn-block">About</button></a></h4>
                <p class="card-text">Learn more about the data and the data analysts.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 d-flex justify-content-center text-center">
        <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title"><a
                    href="/models"><button type="button" class="btn btn-secondary btn-block">Models</button></a></h4>
                    <p class="card-text">See charts and graphs.</p>
                    <br><img src="../static/images/garrett_graph.PNG" alt="Bubble Chart" width="200" height="150">
            </div>
        </div>
    </div>
    <div class="col-md-3 d-flex justify-content-center text-center">
        <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title"><a
                    href="/housemap"><button type="button" class="btn btn-secondary btn-block">House Mapping</button></a></h4>
                <p class="card-text">Heatmap of House Index from January 2020</p>
                <img src="../static/images/house_heatmap.PNG" alt="House Heatmap" width="200" height="150">
            </div>
        </div>
    </div>
    <div class="col-md-3 d-flex justify-content-center text-center">
        <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title"><a
                    href="/rentmap"><button type="button" class="btn btn-secondary btn-block">Rent Mapping</button></a></h4>
                <p class="card-text">Heatmap of Rent Index from January 2020</p>
                <img src="../static/images/rent_heatmap.PNG" alt="Rent Heatmap" width="200" height="150">
            </div>
        </div>
    </div>
</div>

{% endblock %}